<div>
  <p>可以前往<a href = "https://cn.gravatar.com/">Gravatar</a>注册一个账号 用于显示邮箱头像</p>
  <p>邮箱是唯一身份标识 其他可以随便填</p>
  <p>无法接收gravatar邮件可以参考<a href="https://hotococoa.com/2019/12/19/qqemail/">QQ邮箱无法收到WordPress邮件</a></p>
  <p>已知问题：Valine评论模块偶尔不会出来 刷新几次就好 没报错找不到问题</p>
</div>
<div class="valine_comment"></div>
<script>
  var notify = '<%= theme.valine.notify %>' == true ? true : false;
  var verify = '<%= theme.valine.verify %>' == true ? true : false;
  new Valine({
      av: AV,
      el: '.valine_comment',
      app_id: '<%= theme.valine.appid %>',
      app_key: '<%= theme.valine.appkey %>',
      placeholder: '<%= theme.valine.placeholder %>'
    });
</script> 